#logo{
   height: 700px;
   width: 80%;
   box-shadow: #303030;
   margin:auto;
   margin-left: 10%;

}
#titulo {
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-style: oblique;
   text-decoration: underline;
}
#contenedor{
   margin: auto;
   width: 100%;
   background: #0CABA8;
   -moz-box-shadow: 3px 3px 5px 6px #008F8C;
   -webkit-box-shadow: 3px 3px 5px 6px #008F8C;
   box-shadow: 3px 3px 5px 6px #008F8C;
}

#minicontainer{
   margin-left: 1.5em;
   color: #0CABA8;
}
h1{
   font-size: 3.08em;
   color: #023535;
}

h4{
   color: #ffffff;
   background: #015958;
   height: 2.2em;
   padding-top: 0.9em;

   -moz-box-shadow: 3px 3px 5px 6px #015958;
   -webkit-box-shadow: 3px 3px 5px 6px #015958;
   box-shadow: 3px 3px 5px 6px #015958;
   font-style: italic;
   padding-left: 1.3em;
   font-size:1.7em;
}


img {
   width: 70%;
   height: 30%;
   backgroundColor:red;
   -moz-box-shadow: 3px 3px 5px 6px #008F8C;
   -webkit-box-shadow: 3px 3px 5px 6px #008F8C;
   box-shadow: 3px 3px 5px 6px #008F8C;
   margin-left: 15%;

}

#containerimg {
   border: 5px solid #0CABA8;

}

#imagenuno {
   width: 49.95%;
   float: right;
}

#imagendos {
   width: 49.95%;

   border-right:5px solid #023535;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius:  5px ;
}


#h4moded{
   color: #ffffff;
   background: #015958;
   height: 2.2em;
   padding-top: 0.9em;
   -moz-box-shadow: 3px 3px 5px 6px #015958;
   -webkit-box-shadow: 3px 3px 5px 6px #015958;
   box-shadow: 3px 3px 3px 3px #015958;
   font-style: italic;
   text-align: left;
   padding-left: 1.3em;
   font-size:1.7em;
}

#clear{
   float: none;
}